<tr id="<%= line_item == @current_item ? "current_item" : "" %>">
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price">
    <%= number_to_currency(line_item.total_price) %>
  </td>
  <!-- <td><%#= button_to "&#8964;".html_safe, [:decrease_quantity, line_item],
    method: :patch, title: "decrease quantity", remote: true %></td>
  <td><%#= button_to "x", line_item, method: :delete,
    data: { confirm: "Are you sure?" } %></td> -->
</tr>
